body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px ;
}
.header-orange-title{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.hire-btn{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: bold;
}
.header-section{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.second-header{
    background-image: url(img/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 70px;
    
}